<p>eventbinding2 works!</p>

<!-- <input #num1 type="text" placeholder="Enter the number1 "> <br><br>
<input #num2 type="text" placeholder="Enter the numb2"> <br><br>
<button (click)="onAddition(num1.value,num2.value)">Addition</button><br><br>
<input  [value]="result" type="text" placeholder="DIsplay the result">
<hr> -->
<!-- <input type="text" (change)="onChange()" placeholder="Enter the name"> <br><br>
 keyboard event 

<input type="text" (keyup)="onKeyup()" placeholder="keyup event"> <br><br>

<input type="text" (keydown)="onKeydown()" placeholder="keydown event">
 -->

 <!-- <button (click)="result1=4+4" >Addition</button>
 <h2> {{result1}} </h2> <br>
  -->

  <input type="text" [(ngModel)]="name" placeholder="Enter the Name ">
  {{name}}
